//! **************************************************************************
// Written by: Map M.81d on Tue Mar 21 20:00:27 2023
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "C9" LEVEL 1;
COMP "din" LOCATE = SITE "B4" LEVEL 1;
COMP "ircin" LOCATE = SITE "C5" LEVEL 1;
COMP "reset" LOCATE = SITE "L13" LEVEL 1;
COMP "bckin" LOCATE = SITE "A10" LEVEL 1;
COMP "dout" LOCATE = SITE "A4" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

